html,body{
                margin:0px;
                padding:0px;
                font-family: century gothic ;
}
header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(picture1.jpg);
	height:130vh;
	background-size: cover;
	background-position: center;
}
.header{

}
.button{
	position:  absolute;
	top: 80%;
	left: 25%;
	color: white;
	transform:  translate(-50%,-50%);
}
.button1{
	position:  absolute;
	top: 80%;
	left: 50%;
	color: white;
	transform:  translate(-50%,-50%);
}
.button2{
	position:  absolute;
	top: 80%;
	left: 75%;
	color: white;
	transform:  translate(-50%,-50%);
}
.btn{
	border:1px solid white;
	padding:10px 20px;
	color: white;
	text-decoration: none;
	transition: 0,6s;

}
.btn:hover{
	background-color:transparan;
	color:black;
}
.table{
	border:1px ;
	padding:10px 20px;
	left:10px;
	top:70px;
	color:black;
	text-decoration: none;
	}
.title {
  position: absolute;
  top: 56%;
  left: 25%;
  transform:  translate(-50%,-50%);
}
.title1 {
  position: absolute;
  top: 56%;
  left: 50%;
  transform:  translate(-50%,-50%);
}
.title2 {
  position: absolute;
  top: 56%;
  left: 75%;
  transform:  translate(-50%,-50%);
}
.text1{
  position: absolute;
  font-size: 58px;
	color: lightblue;
  font-family: Comic Sans MS;
  left: 39%;
  top: 18%;
  text-shadow: 20%;
}
.img1{
	position: absolute;
	top: 20px;
	left: 20px;
}
.img2{
	position: absolute;
	top: 20px;
	left: 1200px;
}
#teks3{
	font-size:30px;
  align-items:center;
 color:White;
 top:20%;

}
